<h1>About Us</h1>
<div class="well">
	<p>
		Our normal hours are M-F 10am-5pm and Saturday from 10am-3pm.
	</p>
	<p>
		We will be open late on Wednesday nights for our Sit N Sew community, an open sew night for all those interested from 5-8pm every Wednesday night. We have a really fun time, so come join us!!
	</p>
	<p>
		We are an authorized Babylock dealer and while we can advertise that fact, we are not allowed to advertise pricing on our website or over the phone, but rest assured, it will be worth the trip to the store if you are in the market for any of their terrific products.
	</p>
	<p>
		To keep up with the latest at Cherry Berry Quilts, subscribe to our email newsletter by clicking the link at the bottom of the page, or follow us on Twitter: <a href="https://twitter.com/CherryBerryQ">@CherryBerryQ</a>
	</p>
	<p>
		We are still building out our website so we thank you for your patience as we grow. Please check back periodically to see what's new.
	</p>
</div>
<h1>Location</h1>
<div class="well">
	<address>
		1096 Calimesa Blvd., Ste. B
		<br/>
		Calimesa, CA 92320
	</address>
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1096+calimesa+blvd,+ste.+b+calimesa+ca&amp;ie=UTF8&amp;hq=&amp;hnear=1096+Calimesa+Blvd,+Calimesa,+California+92320&amp;gl=us&amp;t=h&amp;ll=33.999682,-117.060034&amp;spn=0.006226,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	<br />
	<small><a href="https://maps.google.com/maps?q=1096+calimesa+blvd,+ste.+b+calimesa+ca&amp;ie=UTF8&amp;hq=&amp;hnear=1096+Calimesa+Blvd,+Calimesa,+California+92320&amp;gl=us&amp;t=h&amp;ll=33.999682,-117.060034&amp;spn=0.006226,0.00912&amp;z=16&amp;iwloc=A&amp;source=embed">View Larger Map</a></small>
</div>
<h1>Contact Us</h1>
<div class="well">
	<p>
		Please call the shop or e-mail us with any questions or if you need help with any of your quilting projects.
	</p>
	<p>
		Phone: 909-795-9090
	</p>
	<p>
		Email: <a href="mailto:cherryberryquilts@gmail.com">cherryberryquilts@gmail.com</a>
	</p>
</div>
