<h1>Longarm Services</h1>
<div class="well">
	<p>
		We have two longarm machines on site with custom work being performed by January Shaffer who has 7 yrs. of longarm experience.
	</p>
	<p>
		We also offer computerized edge to edge or pantograph quilting with usually quick turnaround times. We offer a wide variety of pattern options for you but if you are unable to find something from our library, we would be happy to get new designs from suppliers that we use.
	</p>
	<p>
		Come on in to the shop and get a free estimate from January and take a look at the samples we have available from her previous work.
	</p>
</div>
